---
layout: default
---

{% for post in paginator.posts %}
<div class="page-header">
	<h1><a href="{{ post.url }}" style="color:none;">{{ post.title }}</a><small> {{ post.date | date_to_long_string }}</small></h1>
	{{ post.content | postmorefilter: post.url, "Read More"}}
</div>
{% endfor %}

<div class="pagination">
	<ul>
	{% if paginator.next_page %}<li><a href="/page{{ paginator.next_page }}">Older Posts</a></li>{% endif %}
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}<li><a href="/">Newer Posts</li></a>
	{% else %}<li><a href="/page{{ paginator.previous_page }}">Newer Posts</a></li>{% endif %}
	{% endif %}
	</ul>
</div>
