<ul class="nav nav-list">
	<li class="nav-header">Recommended books:</li>
</ul>
<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/1430245336/">
		<div class="sprite-pics-learn-c-on-the-mac book-cover"></div>
	</a>
	<p><a href="http://www.amazon.co.uk/gp/product/1430245336">Learn C on the Mac</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/0321774086/">
		<div class="sprite-pics-cocoa-programming-for-mac-os-x book-cover"></div>
	</a>
	<p><a href="http://www.amazon.co.uk/gp/product/0321774086/">Cocoa Programming for Mac OS X</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/032188728X/">
		<div class="sprite-pics-programming-in-objective-c book-cover"></div>
	</a>
	<p><a href="http://www.amazon.co.uk/gp/product/032188728X/">Programming in Objective-C</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/0321535022/">
		<div class="sprite-pics-cocoa-design-patterns book-cover"></div>
	</a>
	<p><a href="http://www.amazon.co.uk/gp/product/0321535022/">Cocoa Design Patterns</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/144933072X/">
		<div class="sprite-pics-think-python book-cover"></div>
	</a>
	<p><a href="http://www.amazon.co.uk/gp/product/144933072X/">Think Python</a></p>
</div>