<ul class="nav nav-list">
	<li class="nav-header">Recommended books:</li>
</ul>
<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/1430245336/ref=as_li_ss_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1430245336&linkCode=as2&tag=simpl06-21"><img src="/resources/learn-c-on-the-mac.jpg"/></a>
	<p><a href="http://www.amazon.co.uk/gp/product/1430245336/ref=as_li_ss_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=1430245336&linkCode=as2&tag=simpl06-21">Lear C on the Mac</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/0321774086/ref=as_li_ss_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=0321774086&linkCode=as2&tag=simpl06-21"><img src="/resources/cocoa-programming-for-mac-os-x.jpg"/></a>
	<p><a href="http://www.amazon.co.uk/gp/product/0321774086/ref=as_li_ss_tl?ie=UTF8&camp=1634&creative=19450&creativeASIN=0321774086&linkCode=as2&tag=simpl06-21">Cocoa Programming for Mac OS X</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/032188728X/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=032188728X&linkCode=as2&tag=simpl06-21"><img src="/resources/programming-in-objective-c.jpg"/></a>
	<p><a href="http://www.amazon.co.uk/gp/product/032188728X/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=032188728X&linkCode=as2&tag=simpl06-21">Programming in Objective-C</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/0321535022/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=0321535022&linkCode=as2&tag=simpl06-21"><img src="/resources/cocoa-design-patterns.jpg"/></a>
	<p><a href="http://www.amazon.co.uk/gp/product/0321535022/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=0321535022&linkCode=as2&tag=simpl06-21">Cocoa Design Patterns</a></p>
</div>

<div class="book">
	<a href="http://www.amazon.co.uk/gp/product/144933072X/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=144933072X&linkCode=as2&tag=simpl06-21"><img src="/resources/think-python.jpg"/></a>
	<p><a href="http://www.amazon.co.uk/gp/product/144933072X/ref=as_li_ss_il?ie=UTF8&camp=1634&creative=19450&creativeASIN=144933072X&linkCode=as2&tag=simpl06-21">Think Python</a></p>
</div>