/* glue: 0.3 hash: 4ddee3efad */
.sprite-pics-think-python,
.sprite-pics-programming-in-objective-c,
.sprite-pics-learn-c-on-the-mac,
.sprite-pics-cocoa-programming-for-mac-os-x,
.sprite-pics-cocoa-design-patterns{background-image:url('/simplecode/resources/book-covers-sprite-sheet.png');background-repeat:no-repeat}
.sprite-pics-think-python{background-position:0px 0px;width:143px;height:180px;}
.sprite-pics-programming-in-objective-c{background-position:-143px 0px;width:145px;height:180px;}
.sprite-pics-learn-c-on-the-mac{background-position:-288px 0px;width:150px;height:180px;}
.sprite-pics-cocoa-programming-for-mac-os-x{background-position:0px -180px;width:130px;height:180px;}
.sprite-pics-cocoa-design-patterns{background-position:-130px -180px;width:144px;height:180px;}
