<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		{% if page.title %}<title>{{ page.title }} · {{ site.title }}</title>
		{% else %}<title>{{ site.title }}</title>{% endif %}
		<link rel="stylesheet" type="text/css" href="/styles/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/styles/css/pygments.css" />
		<link rel="stylesheet" type="text/css" href="/styles/css/custom.css" />
		
		{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}">
		{% elsif page.keywords == null %}	
		<meta name="keywords" content="{{ site.keywords }}">
		<meta name="description" content="{{ site.description }}">
		{% endif %}
		{% if page.description %}
		<meta name="description" content="{{ page.description }}">
		{% endif %}
		{% if page.author %}
		<meta name="author" content="{{ page.author }}">
		{% elsif page.author == null %}
		<meta name="author" content="{{ site.author }}">
		{% endif %}
		
	</head>
	<body>
		<div class="navbar">
		  <div class="navbar-inner">
			<div class="container">
			  <a class="brand" href="/">SimpleCode</a>
			  <ul class="nav">
			  	<li><a href="/">Home</a></li>
				<li><a href="/projects/">Projects</a></li>
				<li><a href="/archive">Archive</a></li>
			  </ul>
			</div>
		  </div>
		</div>
		
		<div class="container-fluid">
		  <div class="row-fluid">
			<div class="span10">
			  {{ content }}
			</div>
			<div class="span2">
				<div class="well">
			  {% include githubrepo.html %}
		  </div>
		  <div class="well">
		  	{% include socialLinks.html %}
	 	 </div>
			</div>
		  </div>
		</div>
	</body>
</html>