---
layout: default
---

<div class="page-header">
	<h1>{{ page.title }} <small>{{ page.date | date_to_long_string }} </small></h1>
	{% if page.author %}<h1><small>By {{ page.author }}</small></h1>
	{% else %}<h1><small>By {{ site.author }}</small></h1>{% endif %}
</div>
<article>
	{{ content }}
</article>
<hr/>
<div id="pageNavigation">
	<h4>
		More on SimpleCode:
	</h4>
	<p>
		{% if page.previous.url %}<a href="{{ page.previous.url }}">← {{ page.previous.title }}</a>{% endif %}
		{% if page.previous.url and page.next.url %}||{% endif %}
		{% if page.next.url %}<a href="{{ page.next.url }}">{{ page.next.title }} →</a>{% endif %}
	</p>
</div>